.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

.gradle/
local.properties
gen/
out/
gradlew
gradlew.bat
*.apk
*.aab
*.keystore
*.jks

.DS_Store
.item2/
**/doc/api/
ios/Flutter/.last_build_id
ios/Flutter/Ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
Pods/
Podfile.lock
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.db.lock
*.snippets

.idea/
*.iml
*.iws
.vscode/
.history/

linux/flutter/ephemeral/
windows/flutter/ephemeral/
executable/